@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #111113
}
/* Hide scrollbar for #pop-up element for all browsers */
#pop-up::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for #pop-up element for IE, Edge, and Firefox */
#pop-up {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}